h1 {
color: white;
margin-left: 210 px;
font-family; Avenir;
font-size: 20 px;
}

p {
color: white;
margin-left: 180 px;
padding-right: 40 px;
font-family: Avenir;
font-size: 18 px;
}

li{
margin-left: 180 px;
}

a:link{
  color: blue;
  font-size: 18 px;
  font-family: Avenir;
  text-decoration:none;
}

a:visited{
  color: blue;
  font-family: Avenir;
  font-size: 18 px;
  text-decoration:none;
}

.sidenav {
    background-color: white;
    height: 100%; 
    width: 160 px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden;
    padding: 20 px;
}

.sidenav a {
  font-size: 20 px;
  text-align: center;
}

.sidenav a:hover{
color: white;
background-color: blue;
}

.sidenav li{
padding-top: 20 px;
padding-bottom: 20 px;
}

.main {
margin-left: 160 px; 
padding-left: 160 px;
}
