h1 {
color: white;
padding-left: 50px;
font-family; Avenir;
font-size: 20px;
}

p {
color: white;
padding-left: 20px;
padding-right: 40px;
font-family: Avenir;
font-size: 18px;
}

a:link{
  color: blue;
  font-size: 18px;
  font-family: Avenir;
  text-decoration:none;
}

a:visited{
  color: blue;
  font-family: Avenir;
  font-size: 18px;
  text-decoration:none;
}

.sidenav {
background-color: white;
   height: 100%; 
    width: 160px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    overflow-x: hidden;
    padding: 20px;
}

.topnav a {
  width: 60 em;
  font-size: 20 px;
  text-align: center;
}

.topnav a:hover{
  width: 60 em;
color: white;
  background-color: blue;
}
