h1 {
color: white;
padding-left: 50px;
font-family; Avenir;
font-size: 20px;
}

p {
color: white;
padding-left: 20px;
padding-right: 40px;
font-family: Avenir;
font-size: 18px;
}

a:link{
  color: blue;
  font-size: 18px;
  font-family: Avenir;
  text-decoration:none;
}

a:visited{
  color: blue;
  font-family: Avenir;
  font-size: 18px;
  text-decoration:none;
}

.topnav {
background-color: white;
}

.topnav a {
  width: 30 em;
  font-size: 20 px;
  text-align: center;
}

.topnav a:hover{
  width: 30 em;
color: white;
  background-color: blue;
}

.topnav a:active{
width: 30 em;
  color:black;
  background-color: white;
  font-family: Avenir;
  font-size: 20 px;
}
