h1 {
color: white;
font-family; Avenir;
font-size: 20 px;
}

p {
color: white;
font-family: Avenir;
font-size: 18 px;
}

a:link{
  color: blue;
  font-size: 18 px;
  font-family: Avenir;
  text-decoration:none;
}

a:visited{
  color: blue;
  font-family: Avenir;
  font-size: 18 px;
  text-decoration:none;
}

.wrapper {
width: 60 em;
}

.sidenav {
    background-color: white;
    height: 100%; 
    width: 18 em;
    float: left;
}

.sidenav a {
  font-size: 20 px;
  text-align: center;
}

.sidenav a:hover{
color: white;
background-color: blue;
}

.main{
width: 42 em;
float: right;
}


