h1 {
color: white;
padding-left: 50px;
font-family; Avenir;
font-size: 20px;
}

p {
color: white;
padding-left: 20px;
padding-right: 40px;
font-family: Avenir;
font-size: 18px;
}

a:link{
  color: blue;
  font-size: 18px;
  font-family: Avenir;
  text-decoration:none;
}

a:visited{
  color: blue;
  font-family: Avenir;
  font-size: 18px;
  text-decoration:none;
}

.topnav {
background-color: white;
overflow:hidden;
}

.topnav a {
padding-left: 10 px;
  font-size: 20px:
}

.topnav a:hover{
color: white;
  background-color: blue;
}
